$pink: #e72b56;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
li:hover,
a:hover {
  color: $pink;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
.relative {
  position: relative;
}
.hidden {
  display: none;
}
.bg-black {
  background-color: black;
}
.txt-white {
  color: white;
}
.mw-1080 {
  max-width: 1080px;
  margin: 0 auto !important;
  padding: 0 15px;
}
.w-full {
  width: 100%;
}
.active {
  color: $pink;
  position: relative;
}
.close-active {
  position: absolute;
  bottom: 12px;
  background: #eee;
  right: 0;
  border-radius: 50%;
  font-size: 19px;
  color: #000;
  > span {
    font-size: 40px !important;
  }
}

.active-bg {
  background-color: $pink;
}
#container {
  position: relative;
  width: 600px;
  height: 400px;
}
#__next {
  position: relative;
}
#wrapper-nav {
  position: relative;
  margin: 0 auto;
  padding: 15px 0 10px 0;
  box-shadow: 1px 1px 20px 1px #bbb;
  position: fixed;
  top: 0;
  z-index: 555;
  background: white;
  width: 100%;
  span[aria-label="down"] {
    position: absolute;
    left: 46px;
    top: 16px;
    font-size: 14px;
  }
  > div {
    text-align: center;
    font-weight: bold;
    span {
      font-size: 24px;
      svg {
        fill: #aaa;
        transition: 0.3s;
      }
    }
  }
  div.wrapper-img-logo {
    margin-left: 0;
    margin-right: auto;
    border: 1px solid transparent;
    img {
      width: 100%;
    }
  }
  div.wrapper-avatar {
    border: 1px solid transparent;
    padding: 0 !important;
    border-radius: 50%;
    height: 44px;
  }
  div > span > svg:hover,
  span[aria-label="down"]:hover,
  div.wrapper-avatar:hover {
    fill: $pink;
    border-color: $pink;
  }
  div.wrapper-switch-header {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 3px solid white;
    border-radius: 25px;
    overflow: hidden;
    > div {
      padding: 5px 10px;
      width: 80px;
      transition: 0.3s;
      a {
        font-size: 20px;
      }
      a:hover {
        color: white;
      }
    }
    > div:hover {
      background-color: $pink;
      color: white;
    }
  }
}

/******** wrappper bgDashboard ********/
#wrapper-bg-dashboard {
  min-height: 275px;
  width: 100%;
  margin-top: 69px;
  position: relative;
  background-color: #eee;
  h2 {
    font-size: 29px;
    padding-top: 16vh;
    text-shadow: 1px 1px 4px #000;
    color: white;
  }
}

/******** wrappper Switch Section ********/
#wrapper-switch-section {
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  box-shadow: 0px 5px 5px 0px #eee;
  > h2 {
    font-weight: bold;
  }
  > div {
    margin: 25px 0 !important;
    > div {
      > a {
        > span {
          font-size: 50px;
        }
        > p {
          padding-top: 10px;
          font-size: 17px;
        }
      }
    }
  }
}

/******** Suggestion ********/
#wrapper-suggestion {
  min-height: 275px;
  background-color: #eee;
  padding: 30px 0;
  > div {
    h2 {
      font-weight: bold;
      margin-bottom: 20px;
    }
    h3 {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

/******** FIND PROJECT PAGE ********/
#rc_select_0_list {
  display: none !important;
}
/******** BackTop ********/
#backTop {
  position: absolute;
  right: -60px;
  bottom: -25px;
  width: 36px;
  text-align: center;
  height: 36px;
  border-radius: 50%;
  background-color: $pink;
  color: white;
  > span {
    vertical-align: -8px;
  }
}

/******** Footer ********/
footer {
  background: #000;
  color: white !important;
  text-align: center;
  padding: 25px 0;
  > h2 {
    font-weight: bold;
  }
  #wrapper-social-footer {
    margin: 25px 0;
    > div {
      font-size: 40px;
    }
  }
  .wrapper-doc-pdf-footer {
    margin: 25px 0;
    > span {
      padding: 2px 5px;
    }
    > span:not(:last-child) {
      border-right: 2px solid white;
    }
  }
  > h5 {
    margin-top: 45px;
  }
}

//find-project
//select style
.border-tree-data {
  border: 2px solid;
}
#wrapper-search-filter {
  > div {
    > div:not(#select-create) {
      text-align: center;
      cursor: pointer;
      > span {
        > span {
          font-size: 24px;
          border: 1px solid;
          padding: 10px;
          border-radius: 50%;
        }
        > p {
          margin-top: 5px;
        }
      }
    }
    > div#select-create {
      align-self: end;
      margin-top: 6px;
      > div {
        > div {
          padding: 5px 15px;
        }
      }
    }
    > .btn-clear {
      padding-left: 5px;
      padding-right: 0;
      background: black;
      color: white;
      border-radius: 18px;
      padding: 7px 0;
      margin-bottom: 34px;
      font-weight: bold;
    }
  }
}
//end of select style
//end of find project

//create-package
#wrapper-main-create-package {
  .wrapper-select-draft {
    display: flex;
    justify-content: space-between;
  }
  .wrapper-steps {
    .header-title-step {
      background: #eee;
      line-height: 60px;
      font-size: 20px;
    }
  }
  label {
    font-weight: bold;
    font-size: 16px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector,
  .ant-input,
  .ant-input-affix-wrapper {
    border: 3px solid #d9d9d9;
    border-radius: 10px !important;
  }
  .ant-input-group-addon {
    border: 3px solid #d9d9d9 !important;
    border-radius: 10px 10px !important;
    .ant-select-selector {
      border: 0px !important;
    }
  }
  .ant-input-affix-wrapper {
    input {
      border: none !important;
    }
  }
  *:focus,
  *:hover {
    // border: 3px solid;
    border-color: #d9d9d9;
  }
}
//slider
#wrapper-slider-category {
  direction: ltr;
  text-align: center;
  width: 95%;
  .wrapper-img-slide {
    width: 100%;
    border-radius: 5px;
    padding: 8px 14px;
    cursor: pointer;
    position: relative;
    opacity: 0.7;
    > img {
      width: 100%;
      border-radius: 5px;
    }
    > span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      font-size: 13px;
      font-weight: bold;
      color: white;
    }
  }
  .slick-prev {
    left: -36px !important;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #4a4a4a;
    font-size: 35px;
  }
}
//end of slider
//wrapper-price
.wrapperPrice {
  display: flex;
  justify-content: space-between;
  > div {
    width: 100%;
    flex-direction: initial !important;
    .ant-form-item-label {
      width: 100%;
      max-width: 100% !important;
    }
  }
  .ant-input-number {
    width: 100%;
  }
  .ant-col.ant-col-24.ant-form-item-control {
    max-width: 100% !important;
    padding-right: 15px !important;
  }
}
//end of wrapper-price
// wrapper offer optional
#wrapperOfferOprional {
  :first-child {
    width: 100%;
  }
  :nth-child(2) {
    width: 50%;
  }
}
// end of wrapper offer optional

//wrapper photos package
#wrapper-photos-package {
  display: flex;
  justify-content: space-between;
  .ant-upload.ant-upload-select.ant-upload-select-picture-card {
    width: 40vw;
  }
  .ant-upload-list-picture-card-container {
    width: 40vw;
    height: 200px;
  }
  > div {
    flex-direction: row;
  }
}
//end of wrapper photos package
//step1
.step1 {
  div.mw-1080 {
    > span {
      float: right;
      display: block;
      margin: 16px 0;
      font-size: 32px;
    }
  }
}
//step2
.step2 {
  .add-location {
    > div:first-child {
      width: 100%;
    }
  }
}
//end of step2
//step3
.step3 {
  .ant-space-item:first-child {
    width: 100%;
  }
}
//end of step3

//form submit
.form-submit {
  padding: 33px 0 0 0;
  border-top: 2px solid #eee;
  margin-top: 66px;
}
//end of form submit
//end of create package
